@color:#ffeedd;
@size:102px;
@var : @size + @size*2;
@list:"banana","mango","orange","apple";
@number:320px;
@bigger:12000px;

.circle(){
  background:red;
  color:green;
  @variable:@a;
  @a:900px;
  cursor:@variable;
}

.inherit{
  .circle;
}

.lightenExample{
    color:lighten(hsl(195, 45%, .60),4%);
}

.darkenExample{
  color:darken(hsl(195, 45%, .60),4%);
}

.withHex{
  color:saturate(#a4b3ac,50%);
  background:rgba(34,45,5,80%);
}

.angular{
  transform:rotate(10deg*2/5);
}

.colorTest{
  color:hsl(195, 45%, .60);
  background:hsl(195, 45%, .60);
}

.saturateTest{
  color:saturate(hsl(195, 45%, .60),20%);
  background:saturate(hsl(195, 45%, .60),20%);
}

.desaturateTest{
  color:saturate(hsl(195, 45%, .60),-10%);
  background:saturate(hsl(120, 5%, .10),-90%);
}

.spinTest{
  color:spin(hsl(10, 90%, 50%),30);
  background:spin(hsl(195, 45%, .60),180);
}

.conditionTest(@size) when (@size<43cm){
    size:@size;
}

.complexCondition(@x) when (@x+@var>10px+@bigger){
  color:black;
}

.trialTest{
  .conditionTest('43px');
}

.complexTrial{
  .complexCondition('2px');
}

.bandana{
  .coloredBox('45px');
  .degreeRotate('45deg/2');
}

.coloredBox(@size,@color:#abc,@dim:'2px 2px 4px 5px'){
  size:@size;
  color:@color;
  border:@dim;
}

.degreeRotate(@angle){
  transform:rotate(@angle/10);
}

.apple{
  height:-15.2cm+5cm*2;
  border:2cm*3-4cm/3 solid black;
  border-style:dotted;
  &:after{
    clear:both;
    .degreeRotate('45deg');
  }
  .coloredBox('25cm - 5cm','#AAA','3cm 2px 1px 4px');
  .degreeRotate('9deg');
}


.clean{
  clear:both;
  color:#EEF;
  .degreeRotate('(90deg*2-34.56deg)');
}

#big-circle{
  color:green;
  text-decoration:underline;
  .clean{
    color:@color;
  }
  color:gray;
  #red{
    color:red;
  }
  color:blue;
}

#small-circle{
color:yellow;
@size:102px;
size:@size;
.circle;
.clean;
transform:rotateY(4deg);
#aber();
}

mango,a{
  color:@color;
}

#aber{
  color:blue;
  .aber{
    color:red;
    li{
      background:gray;
    }
    br{
      clear:both;
    }
    .other(){
      color:green;
    }
  }
  color:green !important;
}

//This comment is useless
ul{
  /*And so is this one*/
  color:blue;
  background:url('/images/a.jpg'); //and so is this comment
  li{
    transform-origin: bottom;
    div{
      text-decoration: none;
      color:red;
      a{
        transform: rotate(90deg/2-132deg);
      }
    }
  }
}
