.apple{
	height: -5.199999999999999px;	border: 4.666666666666666px solid black ;	border-style: dotted ;	size: 20px;	color: #AAA;	border: 3px 2px 1px 4px   ;}
.clean{
	clear: both;	color: #EEF;}
#big-circle{
	color: green;	text-decoration: underline;	color: blue;}
#small-circle{
	color: yellow;	size: @size;	size: 20px;	color: #AAA;	border: 3px 2px 1px 4px   ;}
mango,a{
	color: @color;}
#aber{
	color: blue;	color: green !important;}
ul{
	color: blue;	background: url('/images/a.jpg');}
.apple:after{
	clear: both;}
#big-circle .clean{
	color: @color;}
#big-circle #red{
	color: red;}
#aber .aber{
	color: red;}
#aber .aber li{
	background: gray;}
#aber .aber br{
	clear: both;}
ul li{
	transform-origin:  bottom;}
ul li div{
	text-decoration:  none;	color: red;}
ul li div a{
	transform: rotate(-87.00000000000001deg);}
