.apple{
	height: -10.2px;}
.clean{
	clear: both;	color: #EEF;}
#big-circle{
	color: green;	text-decoration: underline;	color: blue;}
#small-circle{
	color: yellow;	size: @size;	background: red;	color: green;	cursor: @variable;	clear: both;	color: #EEF;	color: blue;	color: green!important;}
mango,a{
	color: @color;}
#aber{
	color: blue;	color: green!important;}
ul{
	color: blue;	background: url('/images/a.jpg');}
#big-circle .clean{
	color: @color;}
#big-circle #red{
	color: red;}
#aber .aber{
	color: red;}
#aber .aber li{
	background: gray;}
#aber .aber br{
	clear: both;}
ul li{
	transform-origin: bottom;}
ul li div{
	text-decoration: none;	color: red;}
ul li div a{
	transform: rotate(-87.00000000000001deg);}
